/* for all elements */

* {
  font-family: Montserrat;
}

/* header style */
.first-header {
  background-color: #5f5f5f;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

/* nav style */
.nav {
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  color: #fff;
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0;
}
.nav li {
  margin-right: 25px;
}
.nav a {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.nav a:hover {
  color: #a1d214;
}

/* logo style */

.lime-logo {
  width: 208px;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.5s ease;
  z-index: 1;
}

.lime-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* phone-contacts style */

.phone-container {
  display: flex;
  align-items: center;
  /* margin-left: 194px; */
}

.phone-img {
  height: 14px;
  cursor: pointer;
}

/* text style */

.default-text {
  color: #fff;
  font-weight: 700;
}

.default-text.text-42 {
  font-size: 42px;
}

.default-text.text-24 {
  font-size: 24px;
}

.default-text.text-24.font-weight-400 {
  font-size: 24px;
  font-weight: 400;
}

.default-text.text-14 {
  font-size: 14px;
}

.default-text.text-14.color-grey {
  font-size: 14px;
  color: #333;
}

.default-text.text-14.color-grey.margin-left-12 {
  font-size: 14px;
  color: #333;
  margin-left: 12px;
}

.default-text.text-14.margin-left-10 {
  margin-left: 10px;
}

.default-text.text-14.color-grey.margin-left-15 {
  color: #333;
  margin-left: 15px;
}

.default-text.text-18 {
  font-size: 18px;
}

.default-text.text-18.margin-left-14 {
  margin-left: 14px;
}

.default-text.text-16.color-grey {
  font-size: 16px;
  color: #333;
}

.default-text.text-16.color-grey.margin-left-12 {
  font-size: 16px;
  color: #333;
  margin-left: 12px;
}

.default-text.text-12 {
  font-size: 12px;
}

.default-text.text-12.color-grey {
  font-size: 12px;
  color: #333;
}

/* delivery and time-delivery style */

.delivery-container,
.time-delivery-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

/* arrow style */
.arrow-down {
  margin-left: 10px;
}

/* secondary-header style */
.second-header {
  background-color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  /* margin-left: 60px; */
}

.custom-offset {
  margin-left: 72px;
}

/* catalog-btn style */
.catalog-btn {
  border-radius: 10px;
  background: #a1d214;
  display: flex;
  padding: 14px;
  border: none;
  transition: 0.3s ease;
  width: 135px;
}

.catalog-btn:hover {
  background: #7dbb0f;
  cursor: pointer;
}

/* search field style*/
.search-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  display: inline-flex;
  margin-left: 15px;
}

.search-input {
  border: none;
  background-color: transparent;
  padding: 14px;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  width: 350px;
}

.search-img {
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

/* percent-btn style*/
.percent-btn {
  border: none;
  border-radius: 10px;
  background: #ffc709;
  padding: 14px;
  margin-left: 14px;
}

.percent-btn:hover {
  background-color: #ffea99;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.personal-account {
  display: flex;
}

/* discounts-container style*/

.discounts-container {
  display: flex;
  align-items: center;
  margin-left: 9px;
}

.discounts-img {
  margin-left: 9px;
}

/* cabinet-container style*/
.cabinet-container,
.favourites-container,
.shopping-cart-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.cabinet-img,
.favourites-img,
.shopping-cart-img {
  transition: transform 0.3s ease;
}

.cabinet-img:hover,
.favourites-img:hover,
.shopping-cart-img:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
}

/* carousel style*/
#carouselExampleIndicators {
  position: relative;
  padding: 20px 30px;
}

.text-lime {
  position: absolute;
  z-index: 1;
  top: 62px;
  left: 67px;
  line-height: normal;
}

.text-meet {
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 67px;
}

/* redefining carousel styles*/
.carousel-control-prev {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 27px;
  height: 72px;
  position: absolute;
  top: 170px;
  left: 16px;
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-control-next {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 27px;
  height: 72px;
  position: absolute;
  top: 170px;
  left: 871px;
}

.about-us-btn {
  padding: 11px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  min-height: 36px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 300px;
  left: 50px;
  border: none;
}

.about-us-img {
  margin-left: 24px;
}

.custom-button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  margin: 5px;
}

.carousel-indicators {
  left: 340px;
  bottom: 6px;
}

/* card-product-to-cart-container styles*/
.card-product-to-cart-container {
  border-radius: 5px;
  background: #FFF;
  width: 184px;
  height: 58px;
  position: relative;
  padding: 3px;
  display: flex;
  margin-top: 4px;
  align-items: center;
}
.card-product-to-cart-img {
}

.card-product-to-cart-img.w30.h20 {

}
.card-product-to-cart-cancel-img {
  position: absolute;
  left: 172px;
  top: 4px;
}
.card-product-to-cart-counter {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
.card-product-to-cart-description {
  margin-left: 12px;
  margin-top: 0px;
  color: #333;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-product-to-cart-price-info {
  display: flex;
  margin-top: 9px;
  align-items: center;
}
.card-product-to-cart-weight {
  margin-left: 12px;
}
.card-product-to-cart-price {
  color: #333;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards-products-wrapper {
  border-radius: 0px 0px 10px 10px;
  background: #F1F1F1;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 6px;
}

.cards-products-title {
  color: rgba(0, 0, 0, 0.50);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2px;
}

